*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html,#home{
    height: 100%;
    overflow-x:hidden ;
 }
 .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px ;
    border-radius: 5px;
}
.btn a {
    text-decoration:none;
}
.fundo{
    box-shadow: 2px 5px 5px 5px #ddd;


}
.bord{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    padding: 20px ;
    border-radius: 5px;
}

