@import "variables.css";
@import "animations.css";

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    background: rgba(211, 211, 211, 0.2)
}

.login-container{
    width: 32rem;
    height: 32rem;
    background: white;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.25);
}

.login-form{
    width: 100%;
    padding: 20px;
}
.register-container{
    width: 35rem;
    min-height: 30rem;
    background: white;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.25);
}
.register-form{
    width: 100%;
    padding: 20px;
}

.login-form > :first-child{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    height: 100vh;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    background: #555555;
    box-shadow: var(--box-shadow);
    position: fixed;
}

.show{
    animation: slide-right 0.5s ease-in forwards;
}

.hidden{
    animation: slide-left 0.5s ease-out forwards;
}

nav{
    color: white;
    width: 100%;
    height: 100px;
    background: var(--red-700);
    z-index: 2;
    position: fixed;
    box-shadow: var(--box-shadow);
}

#nav-button{
    background: transparent;
    border: none;
    padding: 0 20px;
}

.aside-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 10px;
}

.aside-link-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.aside-link-item > a{
    text-decoration: none;
    color: white;
}

.content{
    width: 100%;
    margin-left: 200px;
    margin-top: 100px;
    padding: 20px;
    max-height: calc(100vh - 100px);
    max-width: calc(100% - 100px);
}

.profile{
    position: absolute;
    background: #555555;
    top:  75px;
    right: 5px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.dropProfile{
    opacity: 1;
    transition: opacity 0.3s ease, height 0.3s ease
}

.profile ul, li{
    list-style: none;
}

.modal-root{
    border: 1px solid rgba(0, 0, 0, 0.15) ;
    min-width: 31rem;
    border-radius: 10px;
}


.modal-header{
    width: 100%;
    display: flex;
    justify-content: end;
    height: fit-content;
}

.close{
    background-color: var(--gray-100);
    color: var(--gray-700);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
}

.close:hover{
    background-color: var(--red-400);
    color: #ffff;
}

.modal-footer{
    height: 50px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.button-confrim{
    background: var(--emerald-400);
    border: 2px solid var(--emerald-100);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.button-confrim:hover{
    background: var(--emerald-500);
}
.button-cancel{
    background: var(--red-400);
    border: 2px solid var(--red-100);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.button-cancel:hover{
    background: var(--red-500);
}